<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<ul class="social-media-list">
<li><a href="https://facebook.com/jared.brabazon" target="_blank"><i class="fa fa-facebook"></i></a></li>
<li><a href="http://instagram.com/jaredbrabazon/" target="_blank"><i class="fa fa-instagram"></i> </a></li>
<li><a href="http://linkedin.com/in/jared-brabazon-3b5a897b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
<li><a href="http://github.com/jaredbrabazon" target="_blank"><i class="fa fa-github"></i></a></li>
<li><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
</ul>
